// Font Google
$google--font-main: 'Work Sans', sans-serif;;
$google--font-second: 'Tajawal', sans-serif;

//  typography 

$fs-1: 36px;
$fs-2: 28px;
$fs-3: 20px;
$fs-4: 17px;
$fs-5: 16px;
$fs-6: 15px;
$fs-7: 14px;

$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

/* transition */
$transition: 0.25s ease;

/* spacing */
$section-padding: 80px;
